.container {
  display: flex;
  margin: 6rem 0;
  gap: 4rem;

  .img_container {
    margin-right: 1.6rem;
    flex: 1;
  }

  .info_container {
    margin-top: 6rem;
    width: 100%;
    flex: 1;

    h1 {
      font-size: 8rem;
      color: var(--color-primary-text);
    }

    h3 {
      font-size: 2rem;
      color: var(--color-secondary-text);
    }
  }
}

.container_code_item {
  margin: 2rem 0;

  .comment {
    display: flex;
    margin-bottom: 1.2rem;
    color: var(--color-secondary-text);
  }

  .code_item {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    .title {
      color: var(--color-accent-text);
    }

    .details {
      display: flex;
      flex-direction: column;
      margin-left: 1.4rem;
      line-height: 1.6rem;

      span {
        color: var(--color-secondary-text);
      }
    }
  }
}
