:root {
  --color-background: #b9e6e3;
  --color-primary-text: #336664;
  --color-secondary-text: #609693;
  --color-slider-button: #b6f2ee;
  --color-background-gradient: linear-gradient(
    350deg,
    var(--color-primary-text) 10%,
    var(--color-background) 100%
  );
}

[data-theme="dark"] {
  --color-background: #11172b;
  --color-primary-text: #ccc;
  --color-slider-background: #51595a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  height: 100vh;
  background: var(--color-background);
}

a {
  text-decoration: none;
}
