@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  background-color: $bg-color;
}

a {
  color: inherit;
  text-decoration: none;
}
