.container {
  margin: 6rem 0;

  section {
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, auto));
    justify-content: center;
  }
}

.container_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0 0 0.15rem var(--color-secondary-text));
  }

  p {
    color: var(--color-secondary-text);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
    // text-shadow: 0 0 1rem #ccc;

    &:hover {
      transition: 0.8s;
      color: var(--color-accent-text);
    }
  }

  svg {
    font-size: 6rem;
  }
}

// RESPONSIVIDADE
@media (max-width: 768px) {
  .container {
    section {
      grid-template-columns: repeat(3, minmax(14rem, auto));
    }
  }

  .container_item {
    svg {
      font-size: 6rem;
    }
  }
}

@media (max-width: 425px) {
  .container {
    section {
      grid-template-columns: repeat(1, minmax(14rem, auto));
    }
  }

  .container_item {
    svg {
      font-size: 4rem;
    }
  }
}
