@import "../../styles/variables.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: $light-primary-color-text;
  // border-bottom: 1px solid $light-primary-color-generic;
}

// HEADER_ITEM
.header_links {
  display: flex;
  align-items: center;
  margin: 1.2rem 0;

  a {
    font-size: 1rem;
    padding: 0 0.8rem;
  }
}
