.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: var(--color-secondary-text);
    cursor: pointer;

    &:hover {
      color: var(--color-accent-text);
    }
  }
}

// HEADER_ITEM
.header_links {
  display: flex;
  align-items: center;
  margin: 1.2rem 0;

  a {
    font-size: 1rem;
    padding: 0 0.8rem;
  }
}
