.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 0.6rem 0;

  button {
    background: none;
    border: none;
    font-size: 1.6rem;
    color: var(--color-secondary-text);

    &:hover {
      transition: 0.8s;
      color: var(--color-accent-text);
    }
  }

  section {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }

  svg {
    font-size: 2rem;
    cursor: pointer;
    color: var(--color-secondary-text);

    &:hover {
      transition: 0.8s;
      color: var(--color-accent-text);
    }
  }
}
