.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  background-color: #191622;

  span {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-secondary-text);
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--color-secondary-text);
    margin-right: 0.8rem;

    &:hover {
      transition: 0.8s;
      color: var(--color-accent-text);
    }
  }
}
