.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  background-color: var(--color-background-header-footer);
  border-top: 0.3rem solid var(--color-accent-button);

  span {
    color: var(--color-primary-text);
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--color-primary-button);
    margin-right: 0.8rem;

    &:hover {
      transition: 0.8s;
      color: var(--color-accent-button);
    }
  }
}

// RESPONSIVIDADE
@media (max-width: 768px) {
  .footer {
    font-size: .8rem;
  }
}
